.skills {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
@media (max-width: 629.75px) {
  .skills {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 424.75px) {
  .skills {
    grid-template-columns: repeat(1, 1fr);
  }
}
