.content {
  display: flex;
  align-items: center;

  &__text {
    display: flex;
    flex-direction: column;
  }

  &__img {
    display: flex;
  }
}

@media (max-width: 830px) {
  .content {
    flex-direction: column-reverse;
    gap: 20px;
  }
}
